@model List<Vidly.Models.Movies>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Movies</h2>
@Html.ActionLink("New Movie","MovieForm","Movies",new  { @class = "btn btn-primary"})
<br />
<br />

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Movie Name</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Vidly.Models.Movies movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(@movie.Name,"Edit","Movies",new { Id = movie.Id }, null)</td>
                <td>@movie.Genre.GenreName</td>
            </tr>
        }
    </tbody>
</table>

