@*@model List<Vidly.Models.Customers>*@
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="page-header">Customers</h2>
@Html.ActionLink("New Customer","CustomerForm","Customers", new { @class = "btn btn-primary" })
<br />
<br />
<table id="customer" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Customer</th>
            <th>Membership Type</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>
@section scripts
{
    <script>
        $(document).ready(function () {
            var datatableVar = $("#customer").DataTable({
                ajax: {
                    url: "/api/CustomerAPI",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data,type,customer) {
                            return "<a href='/Customers/Edit/" + customer.id + "'>" + data + "</a>";
                        }
                    },
                    {
                        data:"membershipType.membershipName"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-Delete' data-customer-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#customer").on("click", ".js-Delete",function () {
                var button = $(this);

                bootbox.confirm("Are you sure you want to Delete the customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/CustomerAPI/" + button.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                datatableVar.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
